*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.mainc1{
	border: 2px solid gray;
background: gray;
opacity: 1;
color: white;	
padding: 3px;
margin: 3px;

}
.mainc2{
	border: 2px solid green;
background: green;
opacity: 1;
color: white;	
padding: 3px;
margin: 3px;

}
.mainc3{
	border: 2px solid black;
background: white;
opacity: 1;
color: black;	
padding: 3px;
margin-left: 23px;

}
.btn{
	margin: 3px;
columns: white;
}
.btn:hover{
	color:  
	
}